<div *hideAfter="4000 as time; then placeholder_template;let counter=counter" class="card text-white bg-success mb-3"
  style="max-width: 18rem;">
  <div class="card-header">Header {{time}}</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">this layout should disappear in {{counter}} seconds</p>
  </div>
</div>
<ng-template #placeholder_template let-prevPeriod="hideAfter" let-myDefault>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">It was visable for {{prevPeriod}} seconds -- {{myDefault}}</p>
    </div>
  </div>
</ng-template>